{{> header.de title="Bestellbeleg" }}

<mj-raw>
    <style type="text/css">
        .callout {
            background-color: #f5f5f5;
            padding: 15px 0;
        }

        h3, .callout-large>div{
          font-size: 16px !important;
          font-weight: bold;
          margin: 0;
        }

        .callout-large>div {
          text-align: center !important;
          padding: 0;
        }

        .callout-small>div {
            text-align: center !important;
            font-size: 14px !important;
            padding: 0;
        }

        ul.address {
            list-style-type: none;
            padding: 0;
        }

        tr.order-row td {
            border-bottom: 1px dashed #eee;
        }

        tr.order-row td:last-child {
            text-align: center;
        }

        tr.total-row {
            font-weight: bold;
        }

        .line-price {
            white-space: nowrap;
        }
    </style>
</mj-raw>

<mj-section background-color="white" padding="0 0 10px 0">
    <mj-column>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" line-height="1.5">
            Vielen Dank für Ihre Bestellung. Sie ist bei uns eingegangen und wird nun bearbeitet. Ihre Bestelldetails werden nachstehend zur Kontrolle angezeigt:
        </mj-text>
    </mj-column>
</mj-section>


<mj-section css-class="callout print-collapse-table" padding="10px 0">
    <mj-column>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" css-class="callout-large"><strong>Bestellnummer</strong>
        </mj-text>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" css-class="callout-small">{{ order.id }}</mj-text>
    </mj-column>
    <mj-column>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" css-class="callout-large"><strong>Bestelldatum</strong>
        </mj-text>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" css-class="callout-small">
            {{ formatDate order.orderPlacedAt "dd.mm.yyyy" }}
        </mj-text>
    </mj-column>
    <mj-column css-class="print-invisible">
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" css-class="callout-large"><strong>Gesamtbetrag</strong>
        </mj-text>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" css-class="callout-small">
            CHF {{ formatMoney order.totalWithTax }}
        </mj-text>
    </mj-column>
</mj-section>


<mj-section background-color="white" padding="10px 0">
    <mj-column css-class="print-fix-50">
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" line-height="1.5">
            {{#with order.billingAddress }}
            <h3>Rechnung an:</h3>
            <ul class="address">
                <li>{{ fullName }}</li>
                {{#if company}}
                <li>{{ company }}</li>
                {{/if}}
                {{#if streetLine1}}
                <li>{{ streetLine1 }}</li>
                {{/if}}
                {{#if streetLine2}}
                <li>{{ streetLine2 }}</li>
                {{/if}}
                {{#if postalCode}}
                <li>{{ postalCode }}</li>
                {{/if}}
                {{#if city}}
                <li>{{ city }}</li>
                {{/if}}
                {{#if province}}
                <li>{{ province }}</li>
                {{/if}}
                {{#if country}}
                <li>{{ country }}</li>
                {{/if}}
                {{#if phoneNumber}}
                <li>{{ phoneNumber }}</li>
                {{/if}}
            </ul>
            {{/with}}
        </mj-text>
    </mj-column>
    <mj-column css-class="print-fix-50">
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" line-height="1.5">
            {{#with order.shippingAddress }}
            <h3>Wird versendet an:</h3>
            <ul class="address">
                <li>{{ fullName }}</li>
                {{#if company}}
                <li>{{ company }}</li>
                {{/if}}
                {{#if streetLine1}}
                <li>{{ streetLine1 }}</li>
                {{/if}}
                {{#if streetLine2}}
                <li>{{ streetLine2 }}</li>
                {{/if}}
                {{#if postalCode}}
                <li>{{ postalCode }}</li>
                {{/if}}
                {{#if city}}
                <li>{{ city }}</li>
                {{/if}}
                {{#if province}}
                <li>{{ province }}</li>
                {{/if}}
                {{#if country}}
                <li>{{ country }}</li>
                {{/if}}
                {{#if phoneNumber}}
                <li>{{ phoneNumber }}</li>
                {{/if}}
            </ul>
            {{/with}}
        </mj-text>
    </mj-column>
</mj-section>

<mj-section background-color="white" padding="10px 0">
    <mj-column>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" line-height="1.5">
            <h3>Zusammenfassung:</h3>
        </mj-text>
        <mj-table cellpadding="6px" font-family="'Helvetica Neue Condensed', sans-serif">
            {{#each order.lines }}
            <tr class="order-row">
                <td class="print-invisible">
                    {{#if productVariant.featuredAsset.preview}}
                    <img class="print-invisible" alt="{{ productVariant.name }}" width="100" style="width: 100px; height: auto;"
                        src="{{ ../assetUrl }}/{{ productVariant.featuredAsset.preview }}?preset=small" />
                    {{/if}}
                </td>
                <td>
                    {{ quantity }} x {{ productVariant.name }}
                    <br />
                    {{ productVariant.sku }}
                    <br />
                    {{ description }}
                </td>
                <td class="print-only"></td>
                <td class="line-price">CHF {{ formatMoney proratedLinePrice }}</td>
            </tr>
            {{/each}}
            <tr class="order-row">
                <td colspan="3">Subtotal:</td>
                <td class="line-price">CHF {{ formatMoney order.subTotal }}</td>
            </tr>
            <tr class="order-row">
                <td colspan="3">Versand:</td>
                <td class="line-price">CHF {{ formatMoney order.shipping }} ({{ order.shippingMethods }})</td>
            </tr>
            <tr class="order-row">
                <td colspan="3">Zwischensumme mit Versand:</td>
                <td class="line-price">CHF {{ formatMoney order.subtotalWithShipping }}</td>
            </tr>
            <tr class="order-row">
                <td colspan="3">MWST (8.1%):</td>
                <td class="line-price">CHF {{ formatMoney order.totalTaxes }}</td>
            </tr>
            <tr class="order-row total-row">
                <td colspan="3">Total:</td>
                <td class="line-price">CHF {{ formatMoney order.totalWithTax }}</td>
            </tr>
        </mj-table>
    </mj-column>
</mj-section>

{{#if order.customFields.notes }}
<mj-section background-color="white" padding="0">
    <mj-column>
        <mj-text font-family="'Helvetica Neue Condensed', sans-serif" line-height="1.5">
            Ihr Kommentar: {{ order.customFields.notes }}
        </mj-text>
    </mj-column>
</mj-section>
{{/if}}

{{> footer.de }}