{{> header.fr title="Document d'ordre" noGreetings="true" }}

<mj-raw>
    <style type="text/css">
        .callout {
            background-color: #353535;
            padding: 15px 0;
        }

        .callout-large>div {
            text-align: center !important;
            color: #fff !important;
            font-size: 16px !important;
            font-weight: bold;
            padding: 0;
        }

        .callout-small>div {
            text-align: center !important;
            color: #fff !important;
            font-size: 14px !important;
            padding: 0;
        }

        ul.address {
            list-style-type: none;
            padding: 0;
        }

        tr.order-row td {
            border-bottom: 1px dashed #eee;
        }

        tr.order-row td:last-child {
            text-align: center;
        }

        tr.total-row {
            font-weight: bold;
        }

        .bg-off-white {
            background-color: #f5f5f5;
        }
    </style>
</mj-raw>

<mj-section background-color="white">
    <mj-column>
        <mj-text font-family="'Roboto Condensed', sans-serif" line-height="1.5">
            Un nouvel ordre.
            Commentaire du client:
            {{ order.customFields.notes }}
        </mj-text>
    </mj-column>
</mj-section>


<mj-section css-class="callout print-collapse-table">
    <mj-column>
        <mj-text font-family="'Roboto Condensed', sans-serif" css-class="callout-large"><strong>Bestellnummer</strong>
        </mj-text>
        <mj-text font-family="'Roboto Condensed', sans-serif" css-class="callout-small">{{ order.id }}</mj-text>
    </mj-column>
    <mj-column>
        <mj-text font-family="'Roboto Condensed', sans-serif" css-class="callout-large"><strong>Bestelldatum</strong>
        </mj-text>
        <mj-text font-family="'Roboto Condensed', sans-serif" css-class="callout-small">
            {{ formatDate order.orderPlacedAt "dd.mm.yyyy" }}
        </mj-text>
    </mj-column>
    <mj-column>
        <mj-text font-family="'Roboto Condensed', sans-serif" css-class="callout-large"><strong>Gesamtbetrag</strong>
        </mj-text>
        <mj-text font-family="'Roboto Condensed', sans-serif" css-class="callout-small">CHF {{ formatMoney order.total
            }}
        </mj-text>
    </mj-column>
</mj-section>


<mj-section css-class="bg-off-white">
    <mj-column css-class="print-fix-50">
        <mj-text font-family="'Roboto Condensed', sans-serif" line-height="1.5">
            {{#with order.billingAddress }}
            <h3>Facture à: {{ fullName }}</h3>
            <ul class="address">
                {{#if company}}
                <li>{{ company }}</li>
                {{/if}}
                {{#if streetLine1}}
                <li>{{ streetLine1 }}</li>
                {{/if}}
                {{#if streetLine2}}
                <li>{{ streetLine2 }}</li>
                {{/if}}
                {{#if city}}
                <li>{{ city }}</li>
                {{/if}}
                {{#if province}}
                <li>{{ province }}</li>
                {{/if}}
                {{#if postalCode}}
                <li>{{ postalCode }}</li>
                {{/if}}
                {{#if country}}
                <li>{{ country }}</li>
                {{/if}}
                {{#if phoneNumber}}
                <li>{{ phoneNumber }}</li>
                {{/if}}
            </ul>
            {{/with}}
        </mj-text>
    </mj-column>
    <mj-column css-class="print-fix-50">
        <mj-text font-family="'Roboto Condensed', sans-serif" line-height="1.5">
            {{#with order.shippingAddress }}
            <h3>Livraison à: {{ fullName }}</h3>
            <ul class="address">
                {{#if company}}
                <li>{{ company }}</li>
                {{/if}}
                {{#if streetLine1}}
                <li>{{ streetLine1 }}</li>
                {{/if}}
                {{#if streetLine2}}
                <li>{{ streetLine2 }}</li>
                {{/if}}
                {{#if city}}
                <li>{{ city }}</li>
                {{/if}}
                {{#if province}}
                <li>{{ province }}</li>
                {{/if}}
                {{#if postalCode}}
                <li>{{ postalCode }}</li>
                {{/if}}
                {{#if country}}
                <li>{{ country }}</li>
                {{/if}}
                {{#if phoneNumber}}
                <li>{{ phoneNumber }}</li>
                {{/if}}
            </ul>
            {{/with}}
        </mj-text>
    </mj-column>
</mj-section>

<mj-section background-color="#ffffff">
    <mj-column>
        <mj-text>
            <h3>Résumé:</h3>
        </mj-text>
        <mj-table cellpadding="6px">
            {{#each order.lines }}
            <tr class="order-row">
                <td class="print-invisible">
                    {{#if productVariant.featuredAsset.preview}}
                    <img class="print-invisible" alt="{{ productVariant.name }}" style="width: 100px; height: 50px;"
                        src="{{ ../assetUrl }}/{{ productVariant.featuredAsset.preview }}?preset=small" />
                    {{/if}}
                </td>
                <td>
                    {{ quantity }} x {{ productVariant.name }}
                    <br />
                    {{ productVariant.sku }}
                </td>
                <td>{{ productVariant.quantity }}</td>
                <td>CHF {{ formatMoney totalPrice }}</td>
            </tr>
            {{/each}}
            <tr class="order-row">
                <td colspan="3">Subtotal:</td>
                <td>CHF {{ formatMoney order.subTotal }}</td>
            </tr>
            <tr class="order-row">
                <td colspan="3">Versand:</td>
                <td>CHF {{ formatMoney order.shipping }}</td>
            </tr>
            <tr class="order-row total-row">
                <td colspan="3">Total:</td>
                <td>CHF {{ formatMoney order.total }}</td>
            </tr>
        </mj-table>
    </mj-column>
</mj-section>

{{> footer.fr }}